body {
    display: flex;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 6px;
    margin: 2rem;
    overflow: hidden;
}

.box1 {
    background: hsl(31, 77%, 52%);
}

.box2 {
    background: hsl(184, 100%, 22%);
}

.box3 {
    background: hsl(179, 100%, 13%);
}

.box {
    padding: 40px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

.btn {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .4s ease-in-out;
}

.box1 .btn {
    color: hsl(31, 77%, 52%);
}

.box2 .btn {
    color: hsl(184, 100%, 22%);
}

.box3 .btn {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    background: transparent;
}

@media only screen and (max-width: 768px) and (max-width: 425px) {
    .card {
        grid-template-columns: 1fr;
        margin: 2rem 0.5rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

7670